<!--Ryan Rowe, rfr21, 2/21/2024
The program in this file is the individual work of Ryan Rowe-->
<!DOCTYPE html>
    <html>
        <head>
            <title>Find Reviews</title>
        </head>
        <body>
            <h1>Find Reviews</h1>
            <form method="post" action="/getReviews">
                <label for="genre">Genre:</label>
                <input type="text" name="genre" required>
                <button type="submit">Submit</button>
            </form>
            <a href="/">Back to home</a>
        </body>
    </html>