<!--Ryan Rowe, rfr21, 2/21/2024
The program in this file is the individual work of Ryan Rowe-->
<!DOCTYPE html>
    <html>
        <head>
            <title>Get Top 5</title>
        </head>
        <body>
            <h1>Get Top 5 Movies by Year</h1>
            <form method="post" action="/getYear">
                <label for="year">Enter a Year:</label>
                <input type="number" name="year" min="1888" max="2030" required>
        
                <button type="submit">Submit</button>
            </form>
            <a href="/">Back to Home</a>
        </body>
    </html>