<!--Ryan Rowe, rfr21, 2/21/2024
The program in this file is the individual work of Ryan Rowe-->
<!DOCTYPE html>
    <html>
        <head>
            <title>Movie Ratings Website</title>
        </head>
        <body>
            <h1>Welcome to Ryan's Letterboxd!</h1>
            <p>Explore our community and expand your movie taste.</p>
            <h2>Navigation:</h2>
            <ul>
                <li><a href="/addReview">Add a Review</a></li>
                <li><a href="/getYear">View Top 5 Movies by Year</a></li>
                <li><a href="/getReviews">View Reviews by Genre</a></li>
            </ul>
        </body>
    </html>